*{
    padding:0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.navbar-text i{
    color: white !important;
    font-size:13px !important;
    
 
}
.navbar-text{
    padding-left: 250px !important;
    color: white;
}
.navbar-textt {
    color: white;
    margin-left: 30px !important;
    
}
.navbar-textt a {
    margin-left: 3px !important;
    
}

.container-fluid{
background-color:black !important;


}
.container-fluid a{
    color: white !important;
    margin-right: 7px;
    font-size: 15px;
}
   
.nav-item a{
    color: white !important;

}
.nav-item {
   
    font-size: 15px !important;
    }

  .xyz,.dropdown{
    position:relative;
    display:inline-block;
  }  
.dropdown-menu{
    display: none;
    position:absolute;
    z-index: 1;
}
.xyz, .dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu {
    background-color: black!important;
}
.dropdown-menu a {
    background-color: black!important;
}
.container-fluid :hover{
    color:yellow !important;
}

