body{
    background-color:rgb(248, 247, 245) !important; 
    color:#35604e  !important;
}
.fa-brands{
    
    font-size: 30px;
    color:#304F42;

}
ul{
    list-style: none !important;
}
  h3{
    font-size: 40px !important;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold !important;
    color:#304F42;
    text-decoration: none !important;
        
  }
  
  .navbar-nav{
    margin-left: 40px;
    font-size: 18px;
    list-style: none !important;
    
    
  }
  .nav-item {
    list-style: none !important;
  }
  .card-body{
    width: 50%;
    padding-bottom: 40px;
  } 

.icon{
    float:right;
}
.b1{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    width:130px;
    height: 40px;
    border-radius: 20px;
    border: solid white;
    background-color: #304F42;
}
.b1 a{
    text-decoration: none;
    color: white;

}
.bA a{
    text-decoration: none;
    color: #304F42;
}


.b1 a:hover{
    color:yellow;
}
.bA{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    width:130px;
    height: 40px;
    border-radius: 20px;
    border: solid #304F42;

background-color: white;

}
.bA a:hover{
    color:yellow;
}
.b2{
    margin-left: 30px;
    width:120px;
    height: 30px;
    border-radius: 20px;
    border: solid #304F42;
    background-color:white ;
    text-align: center;
    color: #304F42;
    
    }
.b2:hover{
    color:yellow;
}
.box{
    border:2px,solid;
    height: 300px;
    width: 200px;
    margin-left: 40px;
    margin-top: 20px;
    border-radius: 15px;
    background-color:#304F42 ;
    color: white;
    opacity: 0.8;
}
.card-text{
    text-align: center;
}
h3{
    
    font-size: 39px !important;
}
.b3{
    
    width:130px;
    height: 40px;
    border-radius: 20px;
    border: solid white;
    background-color: #304F42;
    
    font-weight: bold;
    color: white;
    
    }
img{
    
        
        padding: 2%;
        border-radius: 5%;
    }
.button{
    display: block;
}

h1{
    text-align:center;
    padding-left: 30px;
    padding:10px 0;
    pointer-events: none;
    

} 
h5{
    color:black !important;
}
h2{
    font-weight: none !important;
}

